// compress: true

// Main style
@import "main-style";

// Navbar style
@import "navbar-style";

// Footer style
@import "footer-style";

// Misc style
body {background-color: #FFECD1 !important;}
.parties {
    text-align: center;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0 50px 0; // top right bottom left
    #party-info {
        transition: 0.3s;
        width: 340px;
        border-radius: 20px;
        padding: 10px 10px 10px 10px; // top right bottom left
        margin: 0 auto;
        background-color: #78290F;
        &:hover {
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
        .top-text {
            width: 316px;
            margin: 0;
            img {
                transition: 0.3s;
                float: left;
                width: 60px;
                background-color: white;
                padding: 15px 10px 15px 10px; // top right bottom left
                border-radius: 10px;
                margin: 4% 0 0 3%; // top right bottom left
            }
            h1 {
                color: #FFECD1;
                font-size: 25px;
            }
        }
        hr {
            margin: 10px 0 10px 0; // top right bottom left
            border-color:#FFECD1;
        }
        p {
            color: #FFECD1;
            font-size: 15px;
        }
    }
}

// Compatibility
@media only screen and (max-width: 375px) {
    .parties {
        #party-info {
            width: 300px;
            .top-text { 
                width: 276px;
                img {margin-top: 10%;}
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .parties {
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 980px) {
    .parties {
        #party-info {
            width: 400px;
            .top-text {
                width: 376px;
                img {
                    width: 80px;
                    margin-top: 5%;
                }
                h1 {font-size: 30px;}
            }
            p {font-size: 20px;}
        }
    }
}   
@media only screen and (min-width: 1280px) {
    .parties {
        grid-template-columns: repeat(3, 1fr);
        #party-info {
            width: 350px;
            .top-text {
                width: 326px;
                img {width: 60px;}
                h1 {font-size: 25px;}
            }
            p {font-size: 15px;}
        }
    }
}
@media only screen and (min-width: 1420px) {
    .parties {
        justify-content: center !important;
        gap: 60px;
        grid-template-columns: repeat(3, 400px);
        #party-info {
            width: 400px;
            .top-text {
                width: 376px;
                img {
                    width: 70px;
                }
                h1 {font-size: 30px;}
            }
            p {font-size: 20px;}
        }
    }
}
@media only screen and (min-width: 1700px) {
    .parties {
        grid-template-columns: repeat(3, 450px);
        #party-info {
            width: 450px !important;
            .top-text {
                width: 426px !important;
                img {
                    width: 80px;
                    margin-top: 7%;
                }
                h1 {font-size: 35px;}
            }
            
        }
    }
}
@media only screen and (min-width: 1920px) {

}